body,
html {
	height: 100%;
	padding-top: 25px;
	width: 100%;
	margin: 0;
}

#map {
	width: 80%;
	height: 100%;
	float: left;
	z-index: 1;
}

#rightside {
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: snow;
	left: 80%;
	padding-left:2%
}

#lengend1,#lengend2{
	width: 20px;
	height: 20px;
}
